@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6a8d73;
  --color-secondary: ##F0A868;
  --yellow-light: #F4FDD9;
  --green-light: #E4FFE1;
  --wheat : #FFE8C2
}